<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-3">
        <h1 class="col-6 offset-3">Search a specific book</h1>
        <div class="col-6 offset-3">
            <form action="/LMS/Books/search" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="bid" class="form-label">Book ID</label>
                    <input type="number" name="book[bid]" placeholder="Enter book id" class="form-control" required>
                    <div class="invalid-feedback">Book id should be valid</div>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <button class="btn btn-dark add-btn">Search</button>
            </form>
        </div>
    </div>
</body>




