<% layout("/layouts/boilerplate.ejs") %>
<body>
    <!-- <a href="">Book Issue</a><br>
    <a href="">Book Deposit</a><br>
    <a href="">Display Specific Student Record</a><br>
    <a href="">Display Specific Book Record</a><br>
    <a href="/LMS/allBooks">Show all Books</a><br>
    <a href="/LMS/allStudents">Show all Students</a><br> -->
    <h1 align="center" class="mt-3">Library Management System</h1><br>
    <div class="list-group">
        <a href="/LMS/Students/search" class="list-group-item list-group-item-action">Book Issue</a>
        <a href="/LMS" class="list-group-item list-group-item-action">Book Deposit</a>
        <a href="/LMS/Students/search" class="list-group-item list-group-item-action">Display Specific Student Record</a>
        <a href="/LMS/Books/search" class="list-group-item list-group-item-action">Display Specific Book Record</a>
        <a href="/LMS/Books" class="list-group-item list-group-item-action">Show all Books</a>
        <a href="/LMS/Students" class="list-group-item list-group-item-action">Show all Students</a>
    </div>
</body>
 